.btn
	background: transparent
	color: $dark-text-color
	padding: 7px 15px
	border: $border-width solid $dark-text-color
	transition: all .3s ease-in-out
	height: 40px
	border-radius: 0

	&:hover, &:focus
		border-color: $dark-text-color
		background: $dark-text-color
		color: #fff