.btn
	background: transparent
	color: $dark-text-color
	padding: 7px 15px
	border: $border-width solid $main-color
	transition: all .3s ease-in-out
	height: 40px
	border-radius: 0

	&:hover, &:focus
		border-color: $main-color
		background: $main-color
		color: #fff

	&[disabled], &[disabled]:hover, &[disabled]:focus
		background: darken($main-color, 5%)
		border-color: darken($main-color, 5%)
		color: #fff

	&.btn-danger
		border-color: red

		&:hover, &:focus
			background: red

	&.btn-xs
		height: auto