.form-control
	height: 40px
	border-width: $border-width
	box-shadow: none
	border-radius: 0

	&:focus
		box-shadow: none
		border-color: $main-color

	&.has-error
		border-color: red

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group
	margin-left: (-$border-width)