.nav-tabs.nav-justified > li
	display: table-cell
	width: 1%

.nav-tabs.nav-justified > li > a
	padding: 10px 8px
	border-width: $border-width
	border-radius: 0

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover
	border-width: $border-width
	border-bottom-color: #FFF

.tab-content
	padding: 10px 0